@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/dropdown";
//@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/nav";
//@import "../node_modules/bootstrap/scss/list-group";
//@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/modal";

// Helpers
//@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";

//@import '../node_modules/bootstrap/scss/bootstrap';

$dropdown-link-active-color: #2c2c2c;

/* Dark theme colors */

$text-color: rgba(255, 255, 255, 0.87);
$dark-theme-purple: #bb86fc;
$dark-theme-confirm: #25c565;
//$dark-theme-confirm: #00897b;
//$dark-theme-cancel: #c62828;
$dark-theme-cancel: #ef4b56;
//$dark-theme-primary: #303f9f;
$dark-theme-primary: #8282f3;
$dark-theme-dp0: #121212;
$dark-theme-dp1: #1e1e1e;
$dark-theme-dp4: #272727;

 body {
     background-color: $dark-theme-dp0;
     color: $text-color;
 }

header {
  background-color: $dark-theme-dp0;
  color: $text-color;
  @extend .text-center, .container, .p-3, .mt-3;
}

svg text {
    fill: $text-color;
}

.dropdown-menu-dark {
    @extend .navbar-expand, .dropdown-menu;
    background-color: #272729;
    color: $text-color;
}


// A lighter grey box around content
.box {
    background-color: $dark-theme-dp1;
}

.button-submit{
    @extend .btn;
    background-color: $dark-theme-confirm;
}

.button-primary {
    @extend .btn;
    background-color: $dark-theme-primary
}

.button-cancel {
    @extend .btn;
    background-color: $dark-theme-cancel
}

.button-purple {
    @extend .btn;
    background-color: $dark-theme-purple;
}

textarea {
    height: 6em;
}

.content-text {
    @extend .container, .rounded, .p-3, .mt-3, .mb-3;
    background-color: #2c2c2c;
    border: #333333;
}

input[type=text]:focus, input[type=number]:focus, textarea:focus {
    @extend .form-control;
    background-color: #1a1a1b;
    color: $text-color;
    border: #aeaeae !important;
    outline: none !important;
    outline-offset: 0px !important;
}

input[type=text], input[type=number], textarea {
    @extend .form-control;
    color: $text-color;
    background-color: $dark-theme-dp4;
    border: none;
}

input[type=text]:hover, input[type=number]:hover, textarea:hover {
    @extend .form-control;
    background-color: #1a1a1b;
    border: #3f3f3f;
    color: $text-color;
}

legend {
    text-align: center;
    background-color: $dark-theme-dp4;
}



/* Modal Content
.modal-content {
    position: relative;
    //background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    min-width:300px;
    max-width:500px;
    //max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
*/

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/**
    Projects grid
 */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto auto auto;
    grid-gap: 15px;
}

@media only screen and (min-width: 981px) {
    .grid-container {
        /* grid-template-columns: repeat(4, 25%); */
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    .modal-content-large img.tall-screenshot {
        margin-left: auto; margin-right: auto; width: 70%; display:block;
    }
}

figure {
    overflow: hidden;
}

.grid-img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    display: block;
    margin: auto;
    max-width: 70%;
    max-height: 70%;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

@media only screen and (min-width: 981px) {
    .item1 {
        grid-column-end: 5;
    }
    .modal-content-large img.tall-screenshot {
        margin-left: auto; margin-right: auto; width: 100%; display:block;
    }
}

figure a {
    color: inherit;
}

figure a:link {
    text-decoration: none;
}

figure a:visited {
    text-decoration: none;
}

figure a:hover {
    text-decoration: none;
}

figure a:active {
    text-decoration: none;
}


figure p {
    font-family: 'DejaVu Serif', serif;
}

figure div {
    font-family: 'DejaVu Serif', serif;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    font-size: min(4vw, 25px);
}

.grid-text {
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    font-size: 3vw;
}

/**
    Project pop up modals
 */

// Modal background
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5vh; /* Location of the box */
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden !important;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header-custom {
    position: relative;
    background-color: $dark-theme-dp1;
    margin: auto;
    /*border: 1px solid black;*/
    padding-bottom: 10px;
    max-height: 95vh;
    max-width: min(90vw, 1000px);
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    text-align: center;
    font-size: 130%;
        -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* For the 'x' used to close a pop up */
.modal .close {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: grey;
    float: right;
    position: absolute;
    right: 5px;
    /*transform: translateX(-10%);*/
}

.modal .close:hover {
    color: black;
}

.modal-content {
    position: relative;
    background-color: $dark-theme-dp4;
    margin: auto;
    padding: 0;
    max-width: 60vw;
    max-height: 40vh;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content-large {
    position: relative;
    background-color: $dark-theme-dp4;
    margin: auto;
    padding: 10px;
    border-bottom: 1px solid #888;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    max-height: 85vh;
    max-width: min(90vw, 1000px);
    overflow-y: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-form-header {
    position: relative;
    background-color: $dark-theme-dp1;
    margin: auto;
    /*border: 1px solid black;*/
    padding-bottom: 10px;
    width: 50%;
    min-width:300px;
    max-width:500px;
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    text-align: center;
    font-size: 130%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content-form {
    position: relative;
    background-color: $dark-theme-dp1;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    min-width:300px;
    max-width:500px;
    /*max-width: 300px;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-content-large img.tall-screenshot {
    margin-left: auto; margin-right: auto; width: 100%; display:block;
}

.modal-content-large img.wide-screenshot {
    margin-left: auto; margin-right: auto; width: 100%; display:block;
}

.modal p {
    padding-bottom: 15px;
}

#img-test {

}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */

.slideshow-slide-mud {
    display: none;
}

.slideshow-slide-rescue {
    display: none;
}

.slideshow-slide-ticket {
    display: none;
}

.slideshow-slide-filmter{
    display: none;
}

.modal-content-large img.wide-screenshot {
    margin-left: auto; margin-right: auto; width: 100%; display:block;
}

/* Next & previous buttons */
.slideshow-prev, .slideshow-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white !important;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: grey;
}

/* Position the "next button" to the right */
.slideshow-next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.slideshow-prev:hover, .slideshow-next:hover {
    color: white !important;
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.slideshow-caption-text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.slideshow-number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: black;
}

