* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-size:16px;
    box-sizing: border-box;
}

table {
    border-spacing: 10px;
}

td {
    padding: 10px;
}

p {
    padding:0 16px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
h3 {
    text-align: center;
}

legend {
    text-align: center;
}

label {
    padding: 12px 12px 12px 0px;
    display: inline-block;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: DodgerBlue;
}

.topnav li  { float: left; }

.topnav li a, .topnav .dropbutton {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav li a:hover { background-color: DeepSkyBlue; }

.topnav a.active {background-color: DeepSkyBlue;}

.topnav .dropdown-links li {
  display: inline-block;
}

.topnav .dropdown-content {
  display: none;
  position: absolute;
  background-color: DodgerBlue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.topnav .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav .dropdown-content a:hover {background-color: DeepSkyBlue}

.topnav .dropdown-links:hover .dropdown-content {
  display: block;
}

/*
.bookButton button {
    border:none;
    background-color: DodgerBlue;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
}    
  */  
legend {
    text-align: center;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
/*
input.bookFormInput {
    min-width: 100%;
    max-width: 100%;
}
*/
input[type=submit] {
    background-color: DodgerBlue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /*float: right;*/
}

.container {    
    padding: 15px 15px;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    min-width:300px;
    max-width:500px;
    /*max-width: 300px;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}
