{% extends "base.html" %} 

{% block header %}Welcome to Zach's Portfolio Website{% endblock %}

{% block content %}

  <div class="container bg-white rounded shadow-sm">
    <p style="margin: auto;">
      Here are some of the projects that I've created in C. Due to academic integrity policies at NCSU, github repositories for projects developed 
      <ul>
        <li><a href="/c/data.html">Data Compression</a></li>
        Demonstrates the following the concepts:
        Bit shifting
        Peformance optimisation
      </ul>
    </p>
  </div>

{% endblock %}
