{% extends "base.html" %} 

{% load static %}

{% block header %}Welcome to Zach's Portfolio Website{% endblock %}

{% block content %}

  <div class="container">
    <div class="grid-container">
      <div class="item1 container bg-white rounded shadow-sm">
        <p style="margin: auto;">
          This site contains some of the programming projects I've developed. Select one from the navigation bar or choose below:
        </p>
        <!--
        <p>
          <ul>
            <li><a href="/books/intro.html">Book Collection</a></li>
            <li><a href="/budget">Budget Tracker</a></li>
            <li><a href="/c_sharp/yam.html">Yet Another MUD client</a></li>
          </ul>
        </p>
        -->
      </div>
      <div class="item2 container bg-white rounded shadow-sm" style="overflow:hidden;">
        <figure>
          <a href="#" id="BookGridItem">
            <p>Book Collection</p>
            <img class="grid-img" src="{%  static 'home/book2.svg' %}">
          </a>
        </figure>
      </div>
      <div class="item3 container bg-white rounded shadow-sm">
        <figure>
          <a href="#" id="TicketGridItem">
            <p>Ticket Manager</p>
            <img class="grid-img" src="{%  static 'home/ticket.svg' %}">
          </a>
        </figure>
      </div>
      <div class="item4 container bg-white rounded shadow-sm">
        <figure>
          <a href="#" id="RescueGridItem">
            <p>Animal Rescue</p>
            <img class="grid-img" src="{% static 'home/cat.jpg' %}" alt="Cat Picture">
          </a>
        </figure>
      </div>
      <div class="item5 container bg-white rounded shadow-sm">
        <figure>
          <a href="#" id="MudGridItem">
            <p>Mud Client</p>
            <img class="grid-img" src="{% static 'home/mud.svg' %}" alt="MUD Client">
          </a>
        </figure>
      </div>
    </div>
  </div>

  <div class="pop-up" id="BookPopUp">
    <div class="pop-up-content">
      <a class="close" href="#" id="BookPopUpClose">×</a>
      <div class="container bg-white rounded shadow-sm">
        <p style="margin: auto;">
          The Book Collection is a web application that manages a user's book collection.  The books and book authors
          are represented with Django's model system and stored in a PostgreSQL database.
        </p>
        <p style="padding-top: 10px; margin: auto;">
          <a style="margin: auto;" href="/books/" class="dropbutton">Continue to Book Collection</a>
        </p>
     </div>
    </div>
  </div>

  <div class="pop-up" id="MudPopUp">
    <div class="pop-up-content-large">
      <a class="close" href="#" id="MudPopUpClose">×</a>
      <div class="container bg-white rounded shadow-sm">
        <p style="margin: auto;">
        Yam is a MUD client developed primarily for social MUDs (multiuser dungeons). The project is a Windows
        Presentation Foundation application writen in C#. It provides examples of:
        <ul>
          <li>TCP Networking</li>
          <li>Asynchronous Programming</li>
        </ul>
        </p>
        <img style="display:block; margin-left: auto; margin-right: auto; margin-top: 20px; max-width: 100%;" src="{% static 'home/ifmud1.PNG' %}" alt="Yam Screenshot">
      </div>
    </div>
  </div>

  <div class="pop-up" id="TicketPopUp">
    <div class="pop-up-content-large">
      <a class="close" href="#" id="TicketPopUpClose">×</a>
      <div class="container">
        <p style="margin: auto;">
           The Ticket Manager handles a list of support tickets.
        </p>
        <img style="display:block; margin-left: auto; margin-right: auto; margin-top: 20px; max-width: 100%;" src="{% static 'home/ticketmanager.png' %}" alt="TicketManager Screen Shot">
      </div>
    </div>
  </div>

  <div class="pop-up" id="RescuePopUp">
    <div class="pop-up-content-large">
      <a class="close" href="#" id="RescuePopUpClose">×</a>
      <div class="container">
        <p style="margin: auto;">
          Handles a list of animal rescues and the records of currently and previously kept animals.
        </p>
        <img style="display:block; margin-left: auto; margin-right: auto; margin-top: 20px; max-width: 100%;" class="pop-up-img" src="{% static 'home/packdoption.png' %}" alt="PackDoption Screen Shot">
      </div>
    </div>
  </div>


{% endblock %}
