{% extends "base.html" %} 

{% block title %}{{ block.super }} - Budget App{% endblock %}

{% block header %}
{% if user.is_authenticated %}{{ user.username }}{% else %}Guest{% endif %}'s Budget
{% endblock %}

{% block content %}

<div class="container bg-white rounded shadow-sm">
  Target Budget for the Month: $<span id="TotalBudget">{{ budget.amount }}</span>
</div>
<br>
<div style="margin-right:20px; margin-left:20px;" class="bg-white rounded shadow-sm">
  <table style="table-layout:fixed; width:100%; overflow-x:auto;" id="BudgetTable">
    <thead>
      <tr style="text-align:center;">
        <th>Amount<!-- ▲ ▼--></th>
        <th>Date</th>
        <th>Budget Left</th>
      </tr>
    </thead>

    <tbody>
      <!-- Display all the current transactions -->
      {% for trans in transaction_list %}
      <tr>
        <td>$<span>{{ trans.amount }}</span></td>     
        <td>{{ trans.date|date:"M j, Y" }}</td>
        <td>$<span></span></td>
      </tr>
      {% endfor %}
      <form method="post">{% csrf_token %}
        <tr class="budget-input">
          <td id="BudgetFormAmount" >{{ transaction_form.amount }}</td>
          <td id="BudgetFormDate">{{ transaction_form.date}}</td>
          <td id="BudgetFormButton" style="text-align:center;"><button type="submit">Add Transaction</button></td>
        </tr>
      </form>
    </tbody>
  </table>
</div>

{% load static %}
<!-- JS for displaying and hiding modal forms -->
<script src="{% static "budget/budget.js" %}"></script>

{% endblock %}
