{% extends "base.html" %} 

{% block title %}{{ block.super }} - Budget App{% endblock %}

{% block header %}Budget App{% endblock %}

{% block content %}

<div class="container bg-white rounded shadow-sm">
  Target Budget for the Month: ${{ budget.amount }}
</div>
<br>
<div style="margin-right:20px; margin-left:20px;" class="bg-white rounded shadow-sm">
  <table style="table-layout:fixed; width:100%">
    <tr style="text-align:center;">
      <th>Amount<!-- ▲ ▼--></th>
      <th>Type</th>
      <th>Date</th>
      <th>Budget Left</th>
    </tr>

    <!-- Display all the current transactions -->
    {% for trans in transaction_list %}
    <tr>
      <td>${{ trans.amount }}</td>
      <td>{{ trans.get_transType_display }}</td>
      <td>{{ trans.date|date:"M j, Y" }}</td>
    </tr>
    {% endfor %}
    {% if user.is_authenticated %}
    <form method="post">{% csrf_token %}
    <tr>
      <td>{{ transaction_form.amount }}</td>
      <td>{{ transaction_form.transType}}</td>
      <td>{{ transaction_form.date}}</td>
      <td style="text-align:center;"><button type="submit">Add Transaction</button></td>
    </tr>
    </form>
    {% endif %}        
  </table>
</div>
<!--
  <form method="post">{% csrf_token %}
    <fieldset><legend>Add Transaction</legend>
      {% if user.is_authenticated %}
      <table>
        <tr>
          <td><label for="{{ transaction_form.amount.id_for_label }}">Amount:</label></td>
          <td> {{ transaction_form.amount }} </td>
        </tr>
        <tr>
          <td> <label for ="{{ transaction_form.date.id_for_label }}">Date:</label></td>
          <td>{{ transaction_form.date}} </td>
        </tr>
        <tr>
          <td><label for ="{{ transaction_form.type.id_for_label }}">Type:</label></td>
          <td>{{ transaction_form.transType }} </td>
        </tr>
      </table>
      <button type="submit">Add Transaction</button>       
      {% else %}
        <p style="text-align: center;">You must be logged in to add a transaction</p>
      {% endif %}
    </fieldset>
  </form>
</form>
-->
 
{% endblock %}
