/** Book App Styles **/
.book-form {    
    padding: 10px;
    background-color: white;
      display:inline-block;
}

.book-form input[type=text], .book-form select, .book-form textarea, .book-form input[type=number] {
    width:100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.book-form input[type=text]:focus, .book-form input[type=number]:focus, .book-form textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.book-form .btn {
    background-color: DodgerBlue;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
  
/* Add a red background color to the cancel button */
.book-form .cancel {
    background-color: DeepSkyBlue;
}
    
/* Add some hover effects to buttons */
.book-form .btn:hover, .open-button:hover {
    opacity: 1;
}

.book-form .selector {
    width:100%;
    min-width:200px;
}

/* Ordered lists */    
ul.list {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
}

ul.list li {
    display: block;
    padding: 15px 15px;
    text-decoration: none;
}

.book-container {
    margin-bottom:60px;
}

/** Bottom Nav Bar **/

ul.book-bottom-nav {
  list-style-type: none;
  left:40%;
  margin-left:-100px;
  overflow: hidden;
  background-color:transparent;
  position: fixed;
  bottom: 0;
  width:100%;
  height:50px;
}

ul.book-bottom-nav li {
    float: left;
    text-align:center;
    padding-right:10px;
    padding-left:10px;
    width: 20%;
    /*text-align:center;*/
}

ul.book-bottom-nav li a {
    display: block;
    background-color: DodgerBlue;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.book-bottom-nav li button {
    border:none;
    background-color: DodgerBlue;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    width:100%
}

@media screen and (max-width: 600px) {    
    ul.book-bottom-nav {margin-left:-50px; left:20%;}
    ul.book-bottom-nav li {width:40%}
}
