
table {
    border-spacing: 10px;
}


.table-number {
    min:0;
    max:100000000;
}

#BudgetTable td, #BudgetTable th {
  border: 1px solid #dddddd;
  /*text-align: left;*/
  padding: 8px;
}

#BudgetTable tr:nth-child(even) {
  background-color: #F5F5F5;
}
@media screen and (max-width: 600px) {

    #BudgetFormAmount:before { content: "Amount"; }
    #BudgetFormDate:before { content: "Date"; }
    #BudgetFormAmount { background-color: #FFFFFF; border:none; border-color:#FFFFFF;}
    #BudgetFormDate { background-color: #FFFFFF; border:none; border-color:#FFFFFF;}
    #BudgetFormButton {background-color: #FFFFFF; border:none; border-color:#FFFFFF;}
    tr.budget-input td {display: block; border:none;}
    .budget-input {border:none;}

    #BudgetTable td, #BudgetTable th {
        border: none;
        /*text-align: left;*/
        padding: 8px;
    }
}
