{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css"  href="{% static "books/styles.css" %}"> 

    <title>Book Collection</title>
    </head>

    <body>
    <div class="navbar">
        <a id="Home" href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Book List
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a id="AuthorList" href="/books/authors/">Author List</a>
                <a id="BookList" href="/books/">Book List</a>
                <a id="AuthorForm" href="/books/authors/add_author">Add Author</a>
                <a id="BookForm" href="/books/add_book">Add Book</a>                
            </div>
        </div> 
    </div>
    <br>
    {% block content %}
    {% endblock %}
    </body>
</html>
