{% extends "books/index.html" %} 

{% block content %}

<h2>{{ object }} </h2>

<div class="container">
  <p><a href="#" id="UpdateAuthorOpen">Update Author Information</a></p>
  <div class="container bg-white">
    <p>Book(s) Written:</p>
    {% for book in object.books.all %}
      <p><a href="{{ book.get_absolute_url }}">{{ book.title }}</a></p>
    {% endfor %}
  </div>
</div>

<div class="modal" id="AuthorUpdate">
  <div class="modal-content">
    <form method="post" class="form-container">{% csrf_token %}
      <fieldset><legend>Update Author</legend>
        {% if user.is_authenticated %}
        <label for="{{ author_update_form.first_name.id_for_label }}">First Name:</label>
        {{ author_update_form.first_name }}
        <label for="{{ author_update_form.last_name.id_for_label }}">Last Name:</label>
        {{ author_update_form.last_name }}
        <button type="submit" class="btn" name="author_update_button">Update Author</button>
        {% else %}
        <p style="text-align: center;">You must be logged in to add an author.</p>
        {% endif %}
        <button type="button" id="UpdateAuthorClose" class="btn cancel">Cancel</button>
      </fieldset>
    </form>
  </div>
</div>


{% endblock %}

{% block footer %}
{{ block.super }}
{% endblock %}
