{% extends "base.html" %} 

{% block content %}
<script type="text/javascript">
  document.getElementById("AuthorList").classList.add('active');
</script>
<h2>Authors by Last Name</h2><br>
<fieldset>
<div class="container">
    <ul class="list">    
    {% for author in author_list %}
        <li>
            <a href="{{ author.get_absolute_url }}">{{ author }}</a> has written
            {% for book in author.books.all %}
                <a href="{{ book.get_absolute_url }}">{{ book }}</a>
                <!-- Handle proper formatting for multiple authors -->
                {% if forloop.revcounter0 != 0 and not forloop.revcounter0 == 1 %},{% endif %}
                {% if forloop.revcounter0 == 1 %}and {%endif%}
            {% endfor %}
        </li>
    {% endfor %}
    </ul>
</div>
</fieldset>
{% endblock %}
