{% extends "books/base.html" %} 

{% block content %}
<script type="text/javascript">
  document.getElementById("AuthorForm").classList.add('active');
</script>

<h2>Add an Author to the Collection</h2><br>
<form method="post">{% csrf_token %}
	<fieldset>
		<legend>Author Information</legend>
    <div class="container">
      <div class="row">
        <div class="col-25">
        	<label for="{{ form.first_name.id_for_label }}">First Name:</label>
        </div>
        <div class="col-75">
        	{{ form.first_name }}
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
        </div>
        <div class="col-75">
          {{ form.last_name }}
        </div>
   		</div>
      <br>
		<div class="row">
      <input type="submit" value="Save">
    </div>
  </div>
</fieldset>
</form>

{% endblock %}