{% extends "base.html" %} 

{% block content %}

{% include "books/book_include.html" %}


<h2>Update Author's Information</h2>

<form method="post">{% csrf_token %}
  <div class="container bg-white rounded shadow-sm">
    <div class="update-form2">
      <label for="{{ form.first_name.id_for_label }}">First Name:</label>
      {{ form.first_name }}
    </div>
    <div class="update-form2">
      <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
	{{ form.last_name }}
    </div>
    <br>
    <div class="update-form2" style="text-align:center">
      <input type="submit" value="Update">
    </div>
  </div>
</form>

{% endblock %}
