{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css"  href="{% static "books/styles.css" %}"> 

    <title>Book Collection</title>
    </head>

    <body>
    <ul class="nav">
        <li><a id="Home" href="/">Home</a></li>
        <li><a id="BookList" href="/books/">Book List</a></li>
        <li><a id="BookForm" href="/books/add_book.html">Add Book</a></li>
        <li><a id="AuthorList" href="/books/authors/">Author List</a></li>
        <li><a id="AuthorForm" href="/books/authors/add_author">Add Author</a></li>
        <!-- <li><a href="/">About</a></li> -->
    </ul>
    <br>
    {% block content %}
    {% endblock %}
    </body>
</html>
