{% extends "base.html" %} 
{% load static %}
{% block content %}

<div id="SortByTitle">
  <h2>Books by Title</h2><br>
  <fieldset>
    <legend>Sort by: <a href="javascript:authorSort();">Author</a> | <a onclick="javascript:titleSort()" href="#">Title</a></legend>
  <div class="container">
  <ul class="list">
    {% for book in book_list|dictsort:"title" %}
    <li>
      <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> by
        <!-- Handle proper formatting for multiple authors -->
  	{% for author in book.authors.all %}
  	  <a href="{{ author.get_absolute_url }}">{{ author }}</a>
  	  {% if forloop.revcounter0 != 0 and not forloop.revcounter0 == 1 %},{% endif %}
  	  {% if forloop.revcounter0 == 1 %}and {%endif%}
  	{% endfor %}
    </li>

    {% endfor %}
  </ul>
  </div>
</fieldset>
</div>

<div id="SortByAuthor">
  <h2>Books by Author</h2><br>
  <fieldset>
    <legend>Sort by: <a href="javascript:authorSort();">Author</a> | <a onclick="javascript:titleSort()" href="#">Title</a></legend>
  <div class="container">
    <ul class="list">
      {% for book in book_list|dictsort:"authors" %}
      <li>
	<a href="{{ book.get_absolute_url }}">{{ book.title }}</a> by
        <!-- Handle proper formatting for multiple authors -->
  	{% for author in book.authors.all %}
  	<a href="{{ author.get_absolute_url }}">{{ author }}</a>
  	{% if forloop.revcounter0 != 0 and not forloop.revcounter0 == 1 %},{% endif %}
  	{% if forloop.revcounter0 == 1 %}and {%endif%}
  	{% endfor %}
      </li>
      {% endfor %}
    </ul>
  </div>
  </fieldset>
</div>
<!--
  <div id="app">
    [[message]]

    <ul>
      <li v-for="book in books">
        <ul>[[ book.title ]]
	  <li v-for="value in book">[[ value ]]</li>
	</ul>
      </li>
    </ul>
  </div>
-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  
<script type='text/javascript'>
    var books-list = {{ books_json|safe }};
  </script>

<script>
    var app = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app',
      data: {
          message: 'Hello Vue!',
          books: books-list,
      }
    });
  </script>
<script src="{% static "books/book_list.js" %}"></script>
{% endblock %}
