{% extends "base.html" %} 

{% block content %}

<script>
  document.getElementById("BookList").classList.add('active');
  document.getElementById("BookSideNav").style.display = "block";
</script>

<form method="post">{% csrf_token %}
	<fieldset>
		<legend>Book Information</legend><br>
		<div class="container">
    	<div class="row">
          <div class="col-25">
            <label for="{{ form.title.id_for_label }}">Book Title:</label><br>
          </div>
          <div class="col-75">
            {{ form.title }}
          </div>
        </div>

   		</div>
   		<div class="row">
        <div class="col-25">
   			  {{ form.authors.label_tag }} <br> {{ form.authors}}
        </div>
      </div>
		
    <input type="submit" value="Save">
</fieldset>
</form>

{% endblock %}
