{% extends "books/index.html" %} 

{% block content %}

<h2>{{ object.title }}</h2>

<div class="container">
  <p>
      <a href="/books/">Book Index</a> |
      <a href="#" id="UpdateBookOpen">Update Book Information</a> |
      <a href="#" id="DeleteBookOpen">Delete Book</a></p>
  <div class="container bg-white">
    <p>Author(s):
      {% for author in object.authors.all %}
      <a href="{{ author.get_absolute_url }}">{{ author.last_name }}, {{ author.first_name }}</a>
      {% endfor %}
    </p>
    <p>Published: {{ object.published }}</p>
    <p>Summary: {{ object.summary }}</p>
  </div> 
</div>

<!-- Modal form for updating a  Book -->
<div class="modal" id="BookUpdate">
    <div class="modal-content">
        <form method="post" class="book-form">{% csrf_token %}
            <fieldset><legend>Update Book</legend>
                <label for="{{ book_update_form.title.id_for_label }}">Title:</label>
                {{ book_update_form.title }}
                <div style="font-size: small;display: inline; text-decoration-color: grey">{{ book_update_form.title.help_text }}</div>
                <br><br>
                <label for="{{ book_update_form.published.id_for_label }}">Published:</label>
                {{ book_update_form.published }}
                <label for="{{ book_update_form.authors.id_for_label }}">Author(s):</label><br>
                {{ book_update_form.authors}}
                <label for="{{ book_update_form.summary.id_for_label }}">Summary:</label>
                {{ book_update_form.summary }}
                <button type="submit" class="btn" name="update_book_button">Update Book</button>
                <button type="button" id="UpdateBookClose" class="btn cancel">Cancel</button>
            </fieldset>
        </form>
    </div>
</div>

<!-- Modal form for deleting a  Book -->
<div class="modal" id="BookDelete">
  <div class="modal-content">
    <form method="post" class="book-form">{% csrf_token %}
      <fieldset><legend>Delete Book</legend>
          <p style="text-align: center;">Are you sure you want to delete this book?</p>
          <button type="submit" class="btn" name="delete_book_button">Delete Book</button>
          <button type="button" id="DeleteBookClose" class="btn cancel">Cancel</button>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}

{% block footer %}
{{ block.super }}
{% endblock %}
