{% extends "base.html" %} 

{% block content %}
<script type="text/javascript">
  document.getElementById("BookForm").classList.add('active');
</script>

<h2> Add A Book to the Collection</h2><br>

<form method="post">{% csrf_token %}
	<fieldset>
		<legend>Book Information</legend>
    <div class="container">
		  <div class="row">
      	<div class="col-25">
          	<label for="{{ form.title.id_for_label }}">Book Title:</label>
        </div>
        <div class="col-75">
          	{{ form.title }}
        </div>
      </div>
      <div class="row">
        <div class="col-25">
   			  {{ form.authors.label_tag }}
        </div>
        <div class="col-75">
            {{ form.authors}}
   		   </div>
       </div>
		
    <br>
    <div class="row">
      <input type="submit" value="Save">
    </div>
  </div>
</fieldset>
</form>


{% endblock %}