{% extends "base.html" %} 
{% load static %}
{% block content %}

{% include "books/book_include.html" %}

<div id="SortByTitle">
  <h2>Books by Title</h2><br>
  <div class="container">
    Sort by: <a href="javascript:authorSort();">Author</a> | <a onclick="javascript:titleSort()" href="#">Title</a>
    <div class="container bg-white rounded shadow-sm">
      <ul class="list">
        {% for book in book_list|dictsort:"title" %}
        <li>
          <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> by
          <!-- Handle proper formatting for multiple authors -->
      	{% for author in book.authors.all %}
      	  <a href="{{ author.get_absolute_url }}">{{ author }}</a>
      	  {% if forloop.revcounter0 != 0 and not forloop.revcounter0 == 1 %},{% endif %}
      	  {% if forloop.revcounter0 == 1 %}and {%endif%}
      	  {% endfor %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- The Book objects in the database sorted by Author. Hidden by default -->

<div id="SortByAuthor">
  <h2>Books by Author</h2><br>
  <div class="container">
    Sort by: <a href="javascript:authorSort();">Author</a> | <a onclick="javascript:titleSort()" href="#">Title</a>
    <div class="container bg-white rounded shadow-sm">
      <ul class="list">    
        {% for author in author_list %}
        <li>
          <a href="{{ author.get_absolute_url }}">{{ author }}</a> has written
          {% for book in author.books.all %}
          <a href="{{ book.get_absolute_url }}">{{ book }}</a>
          <!-- Handle proper formatting for multiple authors -->
          {% if forloop.revcounter0 != 0 and not forloop.revcounter0 == 1 %},{% endif %}
          {% if forloop.revcounter0 == 1 %}and {%endif%}
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script type="text/javascript">
  document.getElementById("SortByAuthor").style.display = "none";
</script>

{% endblock %}
